streamlit==0.83.0
numpy==1.20.3
scipy==1.4.1
scikit-learn
pandas
joblib==1.0.1
tensorflow
nltk
matplotlib
torch
transformers==3.5.1
sentencepiece
bert-extractive-summarizer
plotly
# spacy
# bertopic[use]
# dill
# https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz