numpy==1.20.3
scikit-learn
pandas
joblib
tensorflow
nltk
numpy
matplotlib
torch
transformers
sentencepiece
bert-extractive-summarizer
plotly
spacy
bertopic[all]
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz