streamlit==0.83.0
numpy
scikit-learn
pandas
joblib
tensorflow
nltk
matplotlib
torch
transformers
sentencepiece
bert-extractive-summarizer
plotly
# spacy
# bertopic[use]
# dill
# https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz